:root {
  --main-text-color: #1d1d1d;
  --second-text-color: #8c8c8c;
  --hover-color: #fbe0dc;
  --active-color: #ff868e;
  --white-color: #ffffff;
  //   --logo-color: #2196f3;
  //   --logo-sec-color: #000000;
  //   --main-text-color: #212121;
  //
  //   --second-text-color: #757575;
  //   --other-color: #ffffff;
  //   --footer-link-color: rgba(255, 255, 255, 0.6);
  //   --icon-color: #afb1b8;
  //   --title-font: "Raleway", sans-serif;
}
